@font-face {
    font-family: 'treadmill';
    src: url(../fonts/TreadMill-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'smoothing';
    src: url(../fonts/Smoothing.ttf) format('truetype');
}
@font-face {
    font-family: 'dancing';
    src: url(../fonts/DancingScript-Regular.otf) format('opentype');
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #f0f0f0;
}
#home-page {
    height: 100vh;
    background-image: url(../images/vamsi.jpg);
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    color-interpolation-filters: auto;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#projects {
    height: 100vh;
    background-image: url(../images/project.jpg);
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#contact {
    height: 100vh;
    background-image: url(../images/contact.jpg);
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}
.nav a {
    text-decoration: none;
    color: #f7f3f3;
    transition: color 0.3s ease;
    size: 1.2em;
}
.nav a:hover {
    color: #f3b711;
}
.heading {
    font-family: smoothing, sans-serif;
    font-size: 5em;
    color: #f7f3f3;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: fadeIn 1s ease-in-out;
}
#home-page p {
    font-family: dancing, cursive;
    font-size: 1.5em;
    color: #f7f3f3;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    animation: fadeIn 1s ease-in-out;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}