#home-page {
    height: 100vh;
    background-image: url(../images/vamsi.jpg);
    background-size: cover;
    background-position: center;
    color-interpolation-filters: auto;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#home-page h1 {
    font-size: 3em;
    text-align: center;
    color: white;
}
#home-page p {
    font-size: 1.5em;
    text-align: center;
    color: white;
}
#home-page ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
#home-page li {
    display: inline-block;
    margin: 0 10px;
}
#home-page a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}